<!DOCTYPE html>
<html>
  <head>
    <title>PR Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <script type="text/javascript">
      window.linkedinURL = "<%= image_url('linkedin.png') %>";
      window.githubURL = "<%= image_url('github.png') %>";
      window.icon1URL = "<%= image_url('icon1.png') %>";
      window.icon2URL = "<%= image_url('icon2.png') %>";
      window.icon3URL = "<%= image_url('icon3.png') %>";
      window.icon4URL = "<%= image_url('icon4.png') %>";
    </script>

    <meta property="og:title" content="PR Tracker" />
    <meta name="image" property="og:image" content="<%= image_url('pr-tracker.png') %>">
    <meta property="og:description" content="A web application for athletes to track personal records and body composition."/>
    <meta property="og:url" content="https://personal-record-tracker.herokuapp.com/#/"/>

    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe
        %>
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
